@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,400;0,500;1,400;1,600 & display=swap');



*{
    padding: 0%;
    margin: 1%;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-align: center;
}

.html{
    font-size: 80%;
}
body{
    color:  rgb(10, 8, 8);
    background-size: cover;
    background-repeat: no-repeat;
    
}
