$color: white;
$size: 40px;
$parrafo: black;



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: white;
}
h1{
    color: $color;
    padding: 15px;
    
}